awscli
bash_kernel
bash-kernel
bokeh
cython
docutils
geopy
graphviz
imageio
ipywidgets
jupyter
jupyter-tensorboard
jupyter_contrib_nbextensions
matplotlib
numpy
pandas
pickleshare
pillow
plotly
pygments
requests
scipy
scikit-learn
seaborn
sqlalchemy
tflearn
xlrd
