awscli
bash_kernel
bash-kernel
bokeh
cython
docutils
folium
geopy
graphviz
imageio
ipywidgets
jupyter
jupyter-tensorboard
jupyter_contrib_nbextensions
matplotlib
opencv-python
pandas
pickleshare
pillow
plotly
pygments
pytesseract
requests
scipy
scikit-learn
seaborn
sqlalchemy
tflearn
xlrd
